<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple angular js table</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/third-party/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/third-party/sticky-footer-navbar.css" rel="stylesheet">

    <link href="/stylesheets/application.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="leApp">

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Simple Angular Table</a>
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page" ng-controller="SimpleTable">
          <form class="form-horizontal">
            <fieldset>
              <legend>Filters</legend>
              <div class="form-group">
                <label for="mood" class="col-sm-1 control-label">Mood</label>
                <div class="col-sm-2">
                  <select name="mood" class="form-control mood" ng-model="filteredMood" ng-options="m.emoticon for m in availableMood">
                    <option value="">-- mood --</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="filteredName" class="col-sm-1 control-label">Name</label>
                <div class="col-sm-4">
                  <input type="text" name="filteredName" class="form-control" ng-model="filteredName" />
                </div>
              </div>
              <div class="form-group">
                <label for="filteredAge" class="col-sm-1 control-label">Age</label>
                <div class="col-sm-4">
                  <input type="text" name="filteredAge" class="form-control" ng-model="filteredAge" />
                </div>
              </div>
              <div class="form-group">
                <label for="filteredUsername" class="col-sm-1 control-label">Username</label>
                <div class="col-sm-4">
                  <input type="text" name="filteredUsername" class="form-control" ng-model="filteredUsername" />
                </div>
              </div>
            </fieldset>
          </form>

          <p class="page-header">Users</p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Username</th>
                <th>Mood</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in filteredUsers = (users | moodFilter:filteredMood | filter:{ name:filteredName } | filter:{ age:filteredAge } | usernameFilter:filteredUsername)">
                <td ng-bind="user.name"></td>
                <td ng-bind="user.age"></td>
                <td ng-bind="user.username"></td>
                <td ng-bind="user.mood"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">by guimello</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/third-party/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/third-party/bootstrap.min.js"></script>
    <script src="/javascripts/third-party/angular.min.js"></script>
    <script src="/javascripts/angular-simple-table.js"></script>
  </body>
</html>
